.title {
  color: $title-text-color;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;

  margin-top: 0;
  margin-bottom: 50px;
}

.img-work {
  display: flex;
}

.img-work li:not(:last-child) {
  margin-right: 30px;
}

.work-section {
  padding-bottom: 94px;
}

.work-li {
  position: relative;
}
.work-link {
  text-decoration: none;
}

.work-box {
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  left: 0;
  bottom: 0;
}

.work-text {
  margin-top: 0;
  margin-bottom: 0;
  color: $title-accent-color;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
