$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$title-accent-color: #ffffff;
$footer-bg-color: #2f303a;
$footer-prim-text-color: rgba(255, 255, 255, 0.6);
$button-color: #f5f4fa;
$secondary-bg-color: #f5f4fa;
$icon-color: #afb1b8;

$main-font-family: Roboto, sans-serif;
$sec-font-femily: Raleway, sans-serif;
